# Ignore config file
config.py

# Python-related ignores
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.env
llama3_env/

# IDE-specific files:
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

